.main-container {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px;
}

.game-presentation {
  display: grid;
  grid-template-columns: 6fr 1fr; /* Mantém duas colunas em telas maiores */
  gap: 20px;
  align-items: start;
}

.column-layout {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.column-layout > * {
  width: 100%;
}

.game-info {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 15px;
  height: fit-content;
}

.comments-section {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
  grid-column: 1 / 3; /* Atinge a largura total em telas maiores */
}

@media (max-width: 800px) {
  .game-presentation {
    display: block; /* Altera o layout para bloco em telas menores */
    flex-direction: column;
    align-items: center;
  }

  .main-content {
    width: 100%; /* Garante que o conteúdo ocupe toda a largura disponível */
  }

  .column-container{
    align-content: center;
  }

}
